export RECRUIT_COMPETITON_DATA=/Users/ohgushimasaya/Desktop/Study/MachineLearning_Python/RecruitCompetiton/data/train
export RECRUIT_COMPETITON_SCRIPT=/Users/ohgushimasaya/Desktop/Study/MachineLearning_Python/RecruitCompetiton/script
